<div class="login-wrapper">
<div class="login-overlay">
<h2  class="page-header">Login</h2>
<form method="post" action="/users/login" class="off-can">
  <div class="form-group">
   <span class="input input--jiro">
    <input type="text" class="input__field input__field--jiro" name="username">
     <label class="input__label input__label--jiro">
         <span class="input__label-content input__label-content--jiro">Name</span>
     </label>
      </span>
  </div>
  <div class="form-group">
   <div class="form-group">
   <span class="input input--jiro">
    <input type="password" class="input__field input__field--jiro" name="password">
     <label class="input__label input__label--jiro">
         <span class="input__label-content input__label-content--jiro">Password</span>
     </label>
      </span>
  </div>
  </div>
  <button type="submit" style="display:none" class="btn btn-default">Submit</button>
</form>
</div>
</div>